In [1]:
import pandas as pd
import os
import datetime

In [2]:
import sqlalchemy

In [3]:
db_dir = os.getcwd() + '/tigr-database/my-test'
db_dir

'/home/andrew/prog-x/tigr-database/my-test'

In [4]:
%ls ./tigr-database/my-test

serdan_tigr_table_games.csv    serdan_tigr_table_turplayers.csv
serdan_tigr_table_players.csv  table_games.csv
serdan_tigr_table_towns.csv    tournaments.csv
serdan_tigr_table_turnirs.csv

 ### READ

In [15]:
players = pd.read_csv(db_dir + '/serdan_tigr_table_players.csv', sep=';', index_col='ID').dropna(how='all')

In [13]:
tourn = pd.read_csv(db_dir + '/tournaments.csv', sep=';', index_col='id')
games = pd.read_csv(db_dir + '/table_games.csv', sep=';', index_col='id')

In [6]:
towns = pd.read_csv(db_dir + '/serdan_tigr_table_towns.csv', sep=';', index_col='ID').dropna(how='all')

In [40]:
turplayers = pd.read_csv(db_dir + '/serdan_tigr_table_turplayers.csv', sep=';').dropna(how='all')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (7,10,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### New columns

In [53]:
my_players = players[['Fam', 'Im', 'DateBirth', 'TownID', 'Reit', 'LastGame', 'LastUpdate']]
my_players = my_players.rename(columns={'Fam':'last_name', 'Im':'first_name', 'DateBirth':'birth_date', 'TownID':'town_id', 'Reit':'rating', 'LastGame':'last_game', 'LastUpdate':'last_update'})

In [9]:
my_towns = towns[['Name', 'NameLat', 'Short', 'ShortLat', 'FedID']]
my_towns = my_towns.rename(columns={'Name':'name', 'NameLat':'name_lat', 'Short':'short', 'ShortLat':'short_lat', 'FedID':'fed_id'})

In [25]:
my_tourn = tourn[['title', 'place', 'begin_date', 'end_data', 'NumTur', 'komi', 'rules']]
my_tourn = my_tourn.rename(columns={'end_data':'end_date', 'NumTur':'tours'})

In [32]:
my_games = games.rename(columns={'Color':'color', 'GameDate':'game_date', 'Board':'board'})

In [53]:
my_turplayers = turplayers[['ID', 'TurnirID', 'PlayerID', 'MM04', 'MMF4', 'Buhg4', 'Berg4', 'Mesto', 'Reit0RL', 'ReitFRL']]
my_turplayers = my_turplayers.rename(columns={'ID':'id', 'TurnirID':'tournament_id', 'PlayerID':'player_id', 'MM04':'MM_before', 'MMF4':'MM_cf', 'Buhg4':'BHG_cf', 'Berg4':'BER_cf', 'Mesto':'place_in_tournament', 'Reit0RL':'rating_before', 'ReitFRL':'rating_after'})

In [58]:
my_turplayers = my_turplayers.set_index('id')

In [64]:
turplayers[:5]

,IDD,ID,TurnirID,PlayerID,Vid,Fam,Im,Otch,FamLat,ImLat,...,FlagFRL,LastGame,StartNumber,CommNumber,TurnVid,Comment,TigrProTurnirID,TigrProPlayerID,DateBirth,KGSNick
0,102,96,6,126,О,Воронцов,Владимир,NaN,Voroncov,Vladimir,...,1.0,2012-12-30,0.0,0,0,0.0,6.0,126.0,NaN,""""""
1,103,97,6,123,О,Приступа,Павел,NaN,Pristupa,Pavel,...,0.0,2013-01-13,0.0,0,0,0.0,6.0,123.0,NaN,""""""
2,104,98,6,332,О,Ишмаев,Ринат,NaN,Ishmaev,Rinat,...,1.0,2012-12-30,0.0,0,0,0.0,6.0,332.0,NaN,""""""
3,105,99,6,303,О,Денеко,Василий,NaN,Deneko,Vasilij,...,1.0,2012-12-30,0.0,0,0,0.0,6.0,303.0,NaN,""""""
4,106,100,6,433,О,Кириллов,Александр,NaN,Kirillov,Alexandr,...,1.0,2010-05-02,0.0,0,0,0.0,6.0,433.0,NaN,""""""

### Load to database

In [11]:
engine = sqlalchemy.create_engine('mysql+pymysql://andrew:lolkek81@127.0.0.1:3306/tigr')

In [39]:
my_players.to_sql('players', con=engine, if_exists='append', index_label='id')

In [12]:
my_towns.to_sql('towns', con=engine, if_exists='append', index_label='id')

In [30]:
my_tourn.to_sql('tournaments', con=engine, if_exists='append', index_label='id')

In [34]:
my_games.to_sql('games', con=engine, if_exists='append', index_label='id')

In [63]:
my_turplayers.to_sql('participants_of_tournament', con=engine, if_exists='append', index_label='id')

### --- Fix something ---

In [28]:
for i in range(1, 8752):
    try:
        date = my_players.loc[i, 'birth_date']
        l = list(map(int, date.split('-')))
        date = datetime.date(l[0], l[1], l[2])
        if date < datetime.date(1910, 1, 1):
            my_players.loc[i, 'birth_date'] = None
    except:
        pass