In [1]:
import os
import pandas as pd

In [12]:
curr_dir = os.getcwd()
db_path = os.chdir("../egf-db")
db_path = os.path.abspath(os.curdir)
tables = os.listdir()
tables

['allworld_lp.html',
 'tlist.html',
 'all.hst',
 'zips',
 'clear-htmls',
 'alleuro_lp.html']

In [16]:
with open(db_path + '/' + tables[1], 'r', encoding='utf8') as tlist:
    line = tlist.readline().strip()
    print(line.split(' '), 'pizdec', sep='\n\n')

['T220403B', '', 'C', '', '3', '', '', '17', '', '', '(UK)', '', 'OGS,', 'Schools', 'Team']

pizdec

In [ ]:
---